<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Client Manager</a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Client <span class="sr-only">(current)</span></a>
      </li>
    </ul>
<!--<form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchClients(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search clients..." required>
    </form>
    -->
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div class="col-lg-12 card-margin">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-margin">
        <div class="card-body">
          <div class="row search-body">
            <div class="col-lg-12">
              <div class="search-result">
                <div class="result-header">
                  <div class="row">
                  </div>
                </div>
                <div class="result-body">
                  <div
                    *ngFor="let client of clients"
                    class="table-responsive">
                    <table  class="client table">
                      <tbody>
                      <tr>
                        <td>
                          <div class="float-left">
                            <p class="m-0"><a class="client name">{{client.name}}</a>
                            <p class="m-0"><a class="client surname">{{client.surname}}</a>
                          </div>
                        </td>
                        <td>
                          <div class="float-middle">
                            <p class="type m-0">{{client.date}}</p>
                          </div>
                        </td>
                        <td>
                          <div class="float-right">
                            <div class="m-0">{{client.payment}}</div>
                          </div>
                        </td>
                        <td>
                          <div class="float-right">
                            <div class="mb-0">{{(client.payment*(client.tax/100)).toFixed(2)}}</div>
                          </div>
                        </td>
                        <td>
                          <div class="float-right">{{client.clientCode}}</div>
                        </td>
                        <td>
                          <div class="list-group list-group-flush">
                            <a (click)="onOpenModal(client, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a (click)="onOpenModal(client, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav class="d-flex justify-content-center">
            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
              <li class="page-item">
                <a class="page-link no-border" href="#">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
              <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
              <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
              <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link no-border" href="#">
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Employee Modal -->
<div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddClient(addForm)">
          <div class="form-group">
            <label for="add_name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="add_name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="add_surname">Surname</label>
            <input type="text" ngModel name="surname" class="form-control" id="add_surname" placeholder="Surname" required>
          </div>
          <div class="form-group">
            <label for="add_date">Date</label>
            <input type="date" ngModel name="date" class="form-control" id="add_date" placeholder="Date" required>
          </div>
          <div class="form-group">
            <label for="add_payment">payment</label>
            <input type="number" ngModel name="payment" class="form-control" id="add_payment" placeholder="Payment" required>
          </div>
          <div class="form-group">
            <label for="add_tax">tax</label>
            <input type="number" ngModel name="tax" class="form-control" id="add_tax" placeholder="Tax" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-client-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateClientModalLabel">Edit Client {{editClient?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editClient?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editClient?.id}}" name="id" class="form-control" id="id" placeholder="id">
          <input type="hidden" ngModel="{{editClient?.clientCode}}" name="userCode" class="form-control" id="userCode" placeholder="userCode">
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="email" ngModel="{{editClient?.surname}}" name="surname" class="form-control" id="surname" placeholder="surname">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" ngModel="{{editClient?.date}}" name="date" class="form-control" id="date">
          </div>
          <div class="form-group">
            <label for="payment">Payment</label>
            <input type="text" ngModel="{{editClient?.payment}}" name="payment" class="form-control" id="payment" placeholder="payment">
          </div>
          <div class="form-group">
            <label for="tax">Tax</label>
            <input type="text" ngModel="{{editClient?.tax}}" name="tax" class="form-control" id="tax" placeholder="tax %">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateClient(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete client {{deleteClient?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteClient(deleteClient?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="clients?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No Clients</h4>
    <p>No Clients were found.</p>
  </div>
</div>
